<!-- Agenda -->
<article class="box post">
	<section>
		<header><h2>Agenda</h2></header>
		<ul class="dates">
			{{ $printed := false }}
			{{- range sort (where site.RegularPages "Type" "in" "stage event") ".Params.dateStart" "asc" }}
			{{- if gt (.Params.dateStart | time.AsTime) now }}
			{{ $printed = true }}
			<li>
				<a href="{{ .Permalink }}">
				<span class="date">{{ partial "date_agenda.html" .Params }}</span>
				<h3>{{ .Title }}</h3>
				<p>{{ .Description }}</p>
				</a>
			</li>
			{{- end }}
			{{- end }}
		</ul>
		{{- if not $printed }}
		<h3>Bientôt de nouveaux stages&nbsp;&#x1F94B</h3>
		{{- end }}
	</section>
</article>
