<!-- Intro -->
<section id="intro" class="container">
	<div class="row">
		{{- range $index, $section := .Site.Data.home.intro.sections }}
			{{- $order := "first" }}
			{{- $color := "" }}
			{{- if eq $index 1 }}
				{{- $order = "middle" }}
				{{- $color = "alt" }}
			{{- end }}
			{{- if gt $index 1 }}
				{{- $order = "last" }}
				{{- $color = "alt2" }}
			{{- end }}
			<div class="4u 12u(mobile)">
				<section class="{{ $order }}">
					{{- if .shortcut }}
					<a href="{{ site.BaseURL}}{{ .shortcut }}" style="text-decoration: none;">
					{{- end }}
					<i class='icon featured {{ $color }} {{ $section.icon }}'>
						{{- if $section.image -}}<img width="90%" src="{{ .Site.BaseURL }}images/home/{{$section.image}}" alt="{{ $section.alt }}">{{- end -}}
					</i>
					<header>
						<h2>{{ .title }}</h2>
					</header>
					{{- if .shortcut }}
					</a>
					{{- end }}
					<p>{{ .description }}</p>
				</section>
			</div>
		{{- end }}
	</div>
	<footer>
		<ul class="actions">
			{{- range $index, $button := .Site.Data.home.intro.buttons }}
				<li><a href="{{ $button.link }}" class="button {{ if gt $index 0 }}alt{{ end }} big">{{ $button.text }}</a></li>
			{{- end }}
		</ul>
	</footer>
</section>
