<!-- News -->
<article class="box post">
	<section>
		<header><h2>Dernières publications</h2></header>
		<ul>
			{{- range (where site.RegularPages "Type" "in" "stage event article" | first 6) }}
			<li>
				<a href="{{ .Permalink }}">
				<h4>{{ .Title }}</h4>
				</a>
			</li>
			{{- end }}
		</ul>
	</section>
</article>
