<!-- Scripts -->
<script src="{{ .Site.BaseURL }}assets/js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}assets/js/jquery.dropotron.min.js"></script>
<script src="{{ site.BaseURL }}assets/js/jquery.nanogallery2.min.js"></script>
<script src="{{ .Site.BaseURL }}assets/js/skel.min.js"></script>
<script src="{{ .Site.BaseURL }}assets/js/skel-viewport.min.js"></script>
<script src="{{ .Site.BaseURL }}assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ .Site.BaseURL }}assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ .Site.BaseURL }}assets/js/main.js"></script>
<script src="{{ .Site.BaseURL }}assets/js/gallery.js"></script>

{{ partial "scripts/googleanalytics.html" . }}
{{ partial "scripts/scriptscustom.html" . }}
