<div class="row">
	<div class="12u">
		<!-- Copyright -->
		<div id="copyright">
			<ul class="links">
				<li>&copy; {{ .Site.Title }}. Tous droits réservés.</li>
				<li>Framework: <a href="https://gohugo.io/">Hugo</a></li>
				<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
				<li>Hugo Port: <a href="https://curtiscode.dev">curtiscode</a></li>
				<li>Hugo Adaptation: <a href="https://www.vanderswalmen.net">Pascal</a></li>
			</ul>
		</div>
	</div>
</div>
