<!-- Footer -->
<div id="footer-wrapper">
	<section id="footer" class="container">
		<div id="contact" class="row">
			{{ if .Site.Data.footer.links.support.links }}
			<div class="4u 12u(mobile)">
				<section>
					<header>
						<h2>Soutiens / Affiliations</h2>
					</header>
					<ul class="divided">
						{{ range .Site.Data.footer.links.support.links }}
						<li>
							<a href="{{ .url }}">
								{{- if .logo }}
								<div style="height: 30px; width: 60px; display: inline-block; text-align: center;">
									<img src="{{ site.BaseURL }}{{ .logo }}" alt="logo" height="30" style="max-width: 100%; object-fit: contain;">
								</div>
								{{- end }}
								{{ .text }}
							</a>
						</li>
						{{ end }}
					</ul>
				</section>
			</div>
			{{ end }}
			{{ if .Site.Data.footer.links.partners.links }}
			<div class="4u 12u(mobile)">
				<section>
					<header>
						<h2>Partenaires</h2>
					</header>
					<ul class="divided">
						{{ range .Site.Data.footer.links.partners.links }}
						<li>
							<a href="{{ .url }}">
								{{- if .logo }}
								<div style="height: 30px; width: 60px; display: inline-block; text-align: center;">
									<img src="{{ .Site.BaseURL }}{{ .logo }}" alt="logo" height="30" style="max-width: 100%; object-fit: contain;">
								</div>
								{{- end }}
								{{ .text }}
							</a>
						</li>
						{{ end }}
					</ul>
				</section>
			</div>
			{{ end }}
			<div class="4u 12u(mobile)">
				<section>
					<header>
						<h2>Contact</h2>
					</header>
					{{ partial "footer/social.html" . }}
					{{ partial "footer/contact.html" . }}
				</section>
			</div>
		</div>
		{{ partial "footer/copyright.html" . }}
	</section>
</div>
