<ul class="social">
	{{- with .Site.Data.footer.links.social }}
	{{- if .facebook }}
	<li><a class="icon fa-facebook" href="{{ .facebook }}"><span class="label">Facebook</span></a></li>
	{{- end }}
	{{- if .twitter }}
	<li><a class="icon fa-twitter" href="{{ .twitter }}"><span class="label">Twitter</span></a></li>
	{{- end }}
	{{- if .instagram }}
	<li><a class="icon fa-instagram" href="{{ .instagram }}"><span class="label">Instagram</span></a></li>
	{{- end }}
	{{- end }}
</ul>
