{{ define "main" }}
	<div id="page-wrapper">
		<div id="header-wrapper">
			<div id="header">
				{{ partial "logo.html" . }}
				{{ partial "menu.html" . }}
			</div>
		</div>

		<div id="main-wrapper">
			<div class="container">
				<!-- Content -->
				<article class="box post">
					<header>
						<h2>{{ .Title }}</h2>
					</header>
					<br/>
					<br/>
					<h2>Horaires</h2>
					{{ if ne .Params.image_schedule "" -}}
					<a href="#" class="image featured"><img src="{{ .Site.BaseURL }}{{ .Params.image_schedule }}" alt="horaires" /></a>
					{{- end -}}
					{{- if ne .Params.config_schedule "" -}}
					<div class="scheduler">
						{{- range $day := .Params.config_schedule }}
						<div class="scheduler-day">
							<div class="scheduler-header">{{ $day.name }}</div>
							{{- range $lesson := $day.lessons }}
								<div class="scheduler-lesson">
									<div class="scheduler-timing">{{ $lesson.from }} - {{ $lesson.to }}</div>
									<div class="scheduler-content">{{ $lesson.name }}</div>
									<div class="scheduler-info">{{ $lesson.info }}</div>
								</div>
							{{- end }}
						</div>
						{{- end }}
					</div>
					{{- end }}
					<!-- Tarifs -->
					{{ .Content }}
				</article>
			</div>
		</div>

		{{ partial "footer/index.html" . }}
	</div>
	{{ partial "scripts/index.html" . }}
{{ end }}
