<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ site.Title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="{{ site.BaseURL }}favicon.png" type="image/png" />
		<!--[if lte IE 8]><script src="{{ site.BaseURL }}assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ site.BaseURL }}assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.BaseURL }}assets/css/ie8.css" /><![endif]-->
		<link href="{{ site.BaseURL }}assets/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
		{{ hugo.Generator }}
	</head>
	<body class="homepage">
		{{- block "main" . }}
		{{- end }}
	</body>
</html>
