{{- define "main" }}
	<div id="page-wrapper">
		<div id="header-wrapper">
			<div id="header">
				{{ partial "logo.html" . }}
				{{ partial "menu.html" . }}
			</div>
		</div>

		<div id="main-wrapper">
			<div class="container">
				<!-- Content -->
				<section id="portfolio">
					<header class="major">
						<h2>{{ .Title }}</h2>
					</header>
					<div class="row">
						{{- range .Paginator.Pages }}
						<div class="6u 12u(mobile)">
							<section class="box">
								{{- if .Params.thumbnail }}
								<a href="{{ .Permalink }}" class="image featured"><img src="{{ .Site.BaseURL }}{{ .Params.thumbnail }}" alt="" /></a>
								{{- end }}
								<header>
									<h3>{{ .Title }}</h3>
									{{- if .Params.dateStart }}
									<h4>{{ partial "date_full.html" .Params }}</h4>
									{{- end }}
									{{- if .Params.date }}
									<p>posté le {{ time.Format "2 January 2006" .Params.date }}</p>
									{{- end }}
								</header>
								<p>{{ .Description }}</p>
								<footer>
									<a href="{{ .Permalink }}" class="button alt">Plus de détails</a>
								</footer>
							</section>
						</div>
						{{- end }}
					</div>
				</section>
				{{- if gt .Paginator.TotalPages 1 }}
					<footer>
						<ul class="actions" style="text-align: center">
							{{- if .Paginator.HasPrev }}
							<li><a href="{{ .Site.BaseURL }}{{ .Paginator.Prev.URL }}" class="button big"><<</a></li>
							{{- end }}
							{{- if .Paginator.HasNext }}
							<li><a href="{{ .Site.BaseURL }}{{ .Paginator.Next.URL }}" class="button alt big">>></a></li>
							{{- end }}
						</ul>
					</footer>
				{{- end }}
			</div>
		</div>

		{{ partial "footer/index.html" . }}
	</div>
	{{ partial "scripts/index.html" . }}
{{- end }}
