{{- define "main" }}
	<div id="page-wrapper">
		<div id="header-wrapper">
			<div id="header">
				{{ partial "logo.html" . }}
				{{ partial "menu.html" . }}
			</div>
		</div>

		<div id="main-wrapper">
			<div class="container">
				<!-- Content -->
				<article class="box post">
					{{- if .Params.image }}
					<a href="#" class="image featured"><img src="{{ .Site.BaseURL }}{{ .Params.image }}" alt="" /></a>
					{{- end }}
					<header>
						<h2>{{ .Title }}</h2>
						{{- if .Params.dateStart }}
						<h4>{{ partial "date_full.html" .Params }}</h4>
						{{- end }}
						{{- if .Params.date }}
						<i>posté le {{ time.Format "2 January 2006" .Params.date }}</i>
						{{- end }}
					</header>
					{{ .Content }}
					{{ partial "gallery.html" .Params }}
				</article>
			</div>
		</div>

		{{ partial "footer/index.html" . }}
	</div>
	{{ partial "scripts/index.html" . }}
{{- end }}
