{{- if .gallery }}
<script>
    var hugoBucket = "{{ site.Params.bucket }}";
    var hugoImages = "{{ site.Params.images }}";
    var hugoThumbnails = "{{ site.Params.thumbnails }}";
    var hugoHeight = "{{ site.Params.height }}";
    var hugoSlug = "{{ .slug }}";
</script>
<noscript>La galerie ne s'affiche pas sans le support de Javascript</noscript>
<h1>Galerie</h1>
</h3><div id="gallery"></div>
{{- end }}
