<!-- Nav -->
<nav id="nav">
	<ul>
		<li class='{{ if eq .RelPermalink "/" }}current{{ end }}'>
			<a href="{{ .Site.BaseURL }}">Accueil
			</a>
		</li>

		{{- range $section := .Site.Params.Section }}
		<li class='{{ if hasPrefix $.Page.RelPermalink (print "/" $section.path "/") }}current{{ end }}'>
			<a href="{{ $.Site.BaseURL }}{{ $section.path }}">{{ $section.name }}</a>
			{{- if eq $section.path "dojo" }}
			{{- $items := where $.Site.RegularPages "Type" $section.path }}
			{{- if $items }}
			<ul>
				{{- range $items }}
				<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
				{{- end }}
			</ul>
			{{- end }}
			{{- end }}
		</li>
		{{- end }}

		<li><a href="#contact">Contact</a></li>
	</ul>
</nav>
