{{ define "main" }}
	<div id="page-wrapper">
		<div id="header-wrapper">
			<div id="header">
				{{ partial "logo.html" . }}
				{{ partial "menu.html" . }}
			</div>
		</div>

		<div id="main-wrapper">
			<div class="container">
				<h1>¯\_(ツ)_/¯</h1>
				<h2>404 - Nothing here</h2>
			</div>
		</div>

		{{ partial "footer/index.html" . }}
	</div>
	{{ partial "scripts/index.html" . }}
{{ end }}
