{{ define "main" }}
	<div id="page-wrapper">

		<!-- Header -->
		<div id="header-wrapper">
			<div id="header">
				{{ partial "logo.html" . }}
				{{ partial "menu.html" . }}
				{{ partial "home/banner.html" . }}
				{{ partial "home/intro.html" . }}
			</div>
		</div>

		<!-- Main -->
		<div id="main-wrapper">
			<div class="container">
				<!-- Announcement if any -->
				{{- if .Site.Data.home.page.announcement }}
				<article class="box post" style="background-color: #e53359; color: #fff">
					<header><h2 style="background-color: #e53359; color: #fff">Annonce importante</h2></header>
					<p style="background-color: #e53359; color: #fff">{{ .Site.Data.home.page.announcement }}</p>
				</article>
				{{- end }}
				<!-- Agenda -->
				{{ partial "home/agenda.html" . }}
				<!-- News -->
				{{ partial "home/news.html" . }}
				<!-- Citation if any -->
				{{- if .Site.Data.home.page.citation }}
				<article class="box post">
					<header><h2>Philosophie</h2></header>
					<p>{{ .Site.Data.home.page.reference }}</p>
					<p>{{ .Site.Data.home.page.citation }}</p>
				</article>
				{{- end }}
				<!-- Welcome if any -->
				{{- if .Site.Data.home.page.welcome }}
				<article class="box post">
					<header><h2>Bienvenue</h2></header>
					<p>{{ .Site.Data.home.page.welcome }}</p>
				</article>
				{{- end }}
			</div>
		</div>

		<!-- Footer -->
		{{ partial "footer/index.html" . }}
	</div>

	<!-- Include Scripts -->
	{{ partial "scripts/index.html" . }}
{{ end }}
